<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>學生成績列表</title>
	    <!-- 引入 PureCSS -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
	    <link rel="stylesheet" href="/css/button.css">
	    <!-- 引入 DataTables CSS -->
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	    <!-- 引入 jQuery -->
	    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	    <!-- 引入 DataTables 基本功能 -->
	    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	    
	    <!-- 引入 DataTables 匯出列印功能 -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
	    
	    <!-- 套用 DataTables -->
	    <!--
			在 DataTables 中，dom 屬性用於定義表格控制元素的布局。dom: 'lBfrtip' 是一個配置字符串，用來指定這些元素在頁面上的顯示方式和順序。
			每個字母代表一個特定的表格控制元素：
			l - Length changing input control。這是一個下拉選單，允許用戶選擇表格每頁顯示多少條記錄。
			B - Buttons。這代表 DataTables 的按鈕組件，如導出和列印功能。
			f - Filtering input。即搜索框，允許用戶對表格數據進行搜索。
			r - Processing display element。這是一個處理指示器，用於顯示數據加載或處理的進度。
			t - The table。表格本身。
			i - Table information summary。表信息摘要，顯示當前頁面的數據和總數據量的信息。
			p - Pagination control。分頁控件，允許用戶瀏覽不同的數據頁面。
			因此，dom: 'lBfrtip' 表示您的表格將包含一個下拉選單來改變每頁的記錄數，按鈕組件，搜索框，數據加載指示器，表格本身，信息摘要，以及分頁控件。
			這些元素會按照 lBfrtip 的順序在頁面上進行布局。
		-->
	    <script>
			// 當網頁加載完畢時要進行的程序
			$(document).ready(function() {
				$('.pure-table').DataTable({
					// 設置語言為繁體中文
	                "language": {
	                    "url": "/js/datatables_zh_tw.json"
	                },
					// 設置匯出列印功能
					dom: 'lBfrtip',
			        buttons: [
			            {
			                extend: 'copy',
			                className: 'pure-button pure-button-primary'
			            },
			            {
			                extend: 'csv',
			                className: 'button-success pure-button'
			            },
			            {
			                extend: 'excel',
			                className: 'button-error pure-button'
			            },
			            {
			                extend: 'pdf',
			                text: '匯出 PDF',
			                className: 'button-warning pure-button'
			            },
			            {
			                extend: 'print',
			                className: 'button-secondary pure-button'
			            }
			        ],
				});
			});
		</script>
	    
	    <style>
			.fail {
				color: red;
			}
		</style>
	</head>
	<body style="padding: 15px;">
    	<h2>學生成績列表</h2>
    	<!-- 
		<div th:text="${ scores }"></div>
		-->
		<div class="pure-form">
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>名次</th>
						<th>學號</th>
						<th>姓名</th>
						<th>國文</th>
						<th>英文</th>
						<th>數學</th>
						<th>總分</th>
						<th>平均</th>
					</tr>
					<tbody>
						<tr th:each="score, state : ${scores}">
							<td th:text="${state.count}"></td>
							<td th:text="${score.id}"></td>
							<td th:text="${score.name}"></td>
							<td th:text="${score.chineseScore}" th:classappend="${score.chineseScore < 60} ? 'fail'"></td>
							<td th:text="${score.englishScore}" th:classappend="${score.englishScore < 60} ? 'fail'"></td>
							<td th:text="${score.mathScore}" th:classappend="${score.mathScore < 60} ? 'fail'"></td>
							<td th:text="${score.totalScore}"></td>
							<td th:text="${#numbers.formatDecimal(score.averageScore, 1, 1)}"></td>
						</tr>
					</tbody>
				</thead>
			</table>
		</div>
	</body>
</html>