<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Department(部門)</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container my-2">
			<!-- Header -->
			<div th:include="header :: header"></div>
			<!-- Content Form -->
			<h1>新增部門</h1>
			
			<p />
			<!-- Content List -->
			<h1>全部部門列表</h1>
			<table border="1" class="table table-striped table-reposive-md">
				<thead>
					<tr>
						<th>序號</th>
						<th>部門名稱</th>
						<th>員工</th>
						<th>編輯</th>
						<th>刪除</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dept : ${departmentPageDTO.departments}">
						<td th:text="${dept.id}"></td>
						<td th:text="${dept.name}"></td>
						<td>
							<span th:each="emp : ${dept.employees}">
								<a th:href="@{/employee/edit/{id}(id=${emp.id})}">
									<span th:text="${emp.name}" class="btn btn-success"></span>
								</a>
							</span>
						</td>
						<td><a th:href="@{/department/edit/{id}(id=${dept.id})}" class="btn btn-primary">編輯</a></td>
						<td><a th:href="@{/department/delete/{id}(id=${dept.id})}" class="btn btn-danger">刪除</a></td>
					</tr>
				</tbody>
			</table>
			<!-- Footer -->
			<div th:include="footer :: footer"></div>
		</div>	
	</body>
</html>