<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>商品動態庫存資料檢視</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-2">
		<!-- Header -->
		<div th:include="header :: header"></div>
		
		<!-- Content -->
		<h1>商品動態庫存資料檢視</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>序號</th>
					<th>商品名稱</th>
					<th>商品成本</th>
					<th>商品售價</th>
					<th>採購數量</th>
					<th>銷售數量</th>
					<th>庫存數量</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="inv : ${inventories}">
					<td th:text="${inv.id}"></td>
					<td th:text="${inv.name}"></td>
					<td th:text="${inv.cost}"></td>
					<td th:text="${inv.price}"></td>
					<td th:text="${inv.amount1 ne null} ? ${inv.amount1} : '0'"></td>
					<td th:text="${inv.amount2 ne null} ? ${inv.amount2} : '0'"></td>
					<td th:text="${inv.amount1?:0} - ${inv.amount2?:0}"></td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<div th:include="footer :: footer"></div>
	</div>
</body>
</html>